<div class="span12">
  <section id="add">  
  	<form action="/" method="post">  
      <input name="url" placeholder="Enter URL as: http://example.com/"></input>  
      <input type="submit" value="Create QR Code" class="btn btn-primary">
    </form>  
  </section> 
</div> 
