<div class="span12">
  <section id="add">  
  	<form action="/" method="post">  
  		<h4>Enter the full URL for your QR Code</h4>
      <input name="url" placeholder="http://example.com/"></input>  
      <input type="submit" value="Create QR Code" class="btn btn-primary">
    </form>  
  </section> 
</div> 
